@model IEnumerable<OnlinePharmacy.Data.Models.Medicine>

@{
    ViewBag.Title = "Medicine";
}

<h2>Medicine List:</h2>

<p>
    <button id="btnCreate" type="button" class="btn btn-primary" data-toggle="modal" data-target="myModal">Create</button>
    <div class="modal" id="myModal" role="dialog" data-url="@Url.Action("Create", "Medicine")"></div>
</p>

<div class="flex-container">

    @foreach (var item in Model)
    {
        <div class="flex-child">
            @Html.Partial("_MedicineSummary", item)
        </div>
    }

</div>

@section scripts {

    <script type="text/javascript">
            $(document).ready(function () {
                $('#btnCreate').click(function () {
                    var url = $('#myModal').data('url');
                    $.get(url, function (response) {
                        $('#myModal').modal('show')
                        $('#myModal').modal({ keyboard: false })
                        $('#myModal').html(response)
                    })
                })
            });

    </script>
}

