body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


basic-horizontal-li {
}

.myul {
    padding-left: 16px;
    list-style-type: none;
    height: auto;
    overflow: hidden;
    margin-bottom: 13px;
    width: -moz-min-content;
}

.myul li {
    float: left;
    margin-right: 24px;
    padding: 13px 0;
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    opacity: 0.5;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-child {
    width: 300px;
    height: 300px;
    margin: 2px;
}

.modal {
    position: fixed;
    width: 720px;
    height: 550px;
    top: 50px;
    left: 250px;
    overflow: auto;
}
